* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.image-text-container {
  display: flex;
  color: white;
}
.text-img {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px;
  line-height: 1.3;
}
.second-image-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.description-container {
  margin-top: 68px;
}
.shoes-des {
  color: #7c40ff;
  margin-bottom: 6px;
}
.same-image {
  width: 500px;
  height: 400px;
}
.description {
  line-height: 1.3;
  width: 600px;
  font-size: 18px;
}

.third-image-container {
}
.third-image {
  margin: 0px 31px;
}
