* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.refund-container {
  width: 500px;
  margin: 0 auto;
}
ol {
  margin: 20px 40px;
}
h2 {
  color: #7c40ff;
  margin-bottom: 20px;
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
