* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
/* .container {
  width: 1000px;
  margin: 0 auto;
} */
.logo {
  width: 250px;
  cursor: pointer;
  height: 100px;
}
.bar {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0 40px;
  margin-bottom: 40px;
  position: sticky;
  top: 0;
}
input {
  border-radius: 6px;
  width: 500px;
  height: 40px;
  padding-left: 40px;
}

.bar ul li {
  display: flex;
  position: relative;
  margin: 15px;
}
.logo-bar {
  display: flex;
  align-items: center;
  gap: 20px;
}
ul {
  display: flex;
}
.search {
  position: relative;
}
.search-icon {
  position: absolute;
  left: 0;
  transform: translate(32%, 32%);
}
.list-cart {
  display: flex;
  gap: 20px;
  align-items: center;
}
.cart-logo {
  cursor: pointer;
}
.bar ul li a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: 600;
}
.bar ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: red;
  transition: 0.5s;
  height: 3px;
  width: 0;
}
.bar ul li:hover::after {
  width: 100%;
}
.mySlides {
  display: none;
}
.slideshow-container {
  max-width: 1024px;
  margin-bottom: 20px;
}

.image1,
h1 {
  width: 100%;
  margin-left: 60px;
}
h1 {
  display: inline;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
/*  */

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.flex-images {
  width: 210px;
  margin: 0;
  height: 170px;
}
.names {
  margin-bottom: 8px;
}
.same-w {
  width: 240px;
}
.first-line-flex,
.second-line-flex,
.third-line-flex,
.fourth-line-flex {
  display: flex;
  gap: 52px;
}
.flex-margin {
  margin-bottom: 32px;
}
.box1 {
  border: 1px solid lightgray;
  padding: 20px;
}
.footer {
  background-color: black;
  position: relative;
}
.flex-container {
  margin-left: 74px;
  margin-top: 32px;
}
.fa {
  color: white;
  text-decoration: none;
  margin-left: 8px;
}
.footer-logo {
  width: 160px;
  height: 80px;
  margin-left: -20px;
}
.footer {
  display: flex;
  gap: 200px;
  padding: 50px;
  color: white;
}
p,
h3 {
  margin-bottom: 18px;
}
.social-media {
  margin-bottom: 6px;
}
.fourth-f4 {
  position: absolute;
  bottom: 0;
  right: 30px;
}
.contact-box {
  background: #fff;
  display: flex;
}
.contact-left {
  flex-basis: 60%;
  padding: 40px 60px;
}
.contact-right {
  flex-basis: 60%;
  padding: 40px 60px;
  background: purple;
  color: #fff;
}
.contect-us:visited,
.contect-us:link {
  color: white;
  text-decoration: none;
  margin-bottom: 12px;
  display: block;
}
.contect-us:hover,
.contect-us:active {
  color: lightgray;
}
